body {
  background-color: #ffffff;
  color: #000000;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-size: 14px;
  line-height: normal;
  font-weight: bold
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}
.story-text {
  padding-top: .8%;
}
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}


a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #0000ff;
}

figure {
  font-size: 12px;
}

h1 {
  font-size: 36px;
  text-transform: capitalize;
  line-height: normal;
  font-weight: bolder;
  padding-bottom: 5px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  padding-bottom: 25px;
}


article {
  padding-top: 100px;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 60%;
}
